@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>

    <!--Image of Joel Hilton-->
    <img src="./img/JoelHilton.jpg" />
</div>
